[submodule "test/unit-test/mbedtls"]
	path = test/unit-test/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "test/unit-test/coreJSON"]
	path = test/unit-test/coreJSON
	url = https://github.com/FreeRTOS/coreJSON.git
[submodule "test/unit-test/Unity"]
	path = test/unit-test/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "test/unit-test/libtufnano"]
	path = test/unit-test/libtufnano
	url = https://github.com/foundriesio/libtufnano.git
[submodule "test/unit-test/backoffAlgorithm"]
	path = test/unit-test/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm.git
[submodule "test/unit-test/inih"]
	path = test/unit-test/inih
	url = https://github.com/benhoyt/inih.git
[submodule "test/unit-test/CMock"]
	path = test/unit-test/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
